.Weather {
  border: 1px solid lightblue;
  font-family: arial, sans-serif;
  color: #1a3ccf;
  padding: 16px;
  border-radius: 20px;
  font-family: "Sansita Swashed", cursive;
}

.Weather h1 {
  color: #1a3ccf;
  font-size: 64px;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.Weather h2 {
  text-align: center;
}

.Weather ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 28.8px;
  list-style: none;
}

.Weather canvas {
  margin-right: 8px;
  display: inline-block;
}
.Weather .temperature {
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
}

.Weather {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.Weather .emoji {
  position: relative;
  margin-left: 110px;
  margin-top: -60px;
}

.Weather .temp {
  position: relative;
  margin-left: -55px;
}

.Weather .form-control {
  margin: 0 0 5px 0;
  border-radius: 15px;
}

.Weather .btn {
  color: #1a3ccf;
  background-color: transparent;
  border: 2px solid lightblue;
  border-radius: 15px;
  font-weight: bolder;
}
